// colours 
$dark-grey: #232323
$grey: #333333
$light-grey: #666666
$white: #e3e3e3

// mapping colours to functionality 
$bg: $dark-grey
$text: $white
$filter-bg: $grey

// sizes 
$small: 12px
$medium: 24px
$large: 36px